@model ToDoList.Models.Category

@{
    ViewData["Title"] = "Create Category";
}

<h1>Създаване на нова категория</h1>

<form asp-action="Create">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="Name" class="control-label">Име</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Запази</button>
    <a asp-action="Index" class="btn btn-secondary">Отказ</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
