@model ToDoList.Models.Category

@{
    ViewData["Title"] = "Delete Category";
}

<h1>Изтриване на категория</h1>

<div>
    <h4>Сигурни ли сте, че искате да изтриете тази категория?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Име</dt>
        <dd class="col-sm-10">@Model.Name</dd>
    </dl>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="CategoryId" />
    <button type="submit" class="btn btn-danger">Изтрий</button>
    <a asp-action="Index" class="btn btn-secondary">Отказ</a>
</form>
