@model IEnumerable<ToDoList.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Категорий</h1>

@if (TempData["ErrorMessage"] != null)
{
<div class="alert alert-danger">
    @TempData["ErrorMessage"]
</div>
}

<p>
    <a asp-action="Create" class="btn btn-primary">Създай нова категория</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Име</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@category.CategoryId" class="btn btn-warning">Редактирай</a>
                    <a asp-action="Delete" asp-route-id="@category.CategoryId" class="btn btn-danger">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>
